<context-holder />
<a-drawer :title="drawerState.title" :open="drawerState.open" :body-style="{ paddingBottom: '80px' }"
  :footer-style="{ textAlign: 'right' }" @close="$refs.drawerForm.clearValidate();drawerState.open=false;"
  :maskClosable="drawerState.maskClosable">
  <a-form ref="drawerForm" :rules="drawerState.rules" :model="drawerState.model" name="basic" layout="vertical"
    @finish="drawerState.finish" @finishFailed="drawerState.finishFailed" autocomplete="off">
    <button type="submit" style="display: none;"></button>

    <a-form-item v-for="formItem of drawerState.formItems" :label="formItem.title" :name="formItem.dataIndex">
      <div v-if="0"></div>
      <a-input v-else-if="formItem.form=='input'" :disabled="formItem.disabled" :readonly="formItem.readonly"
        v-model:value="drawerState.model[formItem.dataIndex]" :placeholder="formItem.placeholder"
        :addon-before="formItem.addonBefore" :addon-after="formItem.addonAfter" style="width: 100%" />
      <a-select v-else-if="formItem.form=='select'" :disabled="formItem.disabled"
        v-model:value="drawerState.model[formItem.dataIndex]" :placeholder="formItem.placeholder">
        <a-select-option v-for="option of formItem.options" :value="option.value">{{option.title}}</a-select-option>
      </a-select>
      <div v-else-if="formItem.form=='date-picker'">
        <a-input v-if="formItem.readonly" :readonly="formItem.readonly"
          :value="drawerState.model[formItem.dataIndex]"></a-input>
        <a-date-picker v-else :disabled="formItem.disabled" v-model:value="formItem.value_date"
          @change="e=>{drawerState.model[formItem.dataIndex]=e?e.format(formItem.format):null;}" style="width: 100%"
          :get-popup-container="trigger => trigger.parentElement" />
      </div>
      <a-textarea v-else-if="formItem.form=='textarea'" :disabled="formItem.disabled" :readonly="formItem.readonly"
        v-model:value="drawerState.model[formItem.dataIndex]" :rows="4" :placeholder="formItem.placeholder" />
    </a-form-item>

  </a-form>
  <template v-if="drawerState.action=='add'||drawerState.action=='edit'" #extra>
    <a-space>
      <span v-for="button of drawerState.buttons">
        <a-button v-if="button.type==='primary'" :type="button.type" :loading="pageState.loading"
          @click="async()=>{ try { await $refs.drawerForm.validate(); drawerState.finish(); } catch (e) { drawerState.finishFailed(e); } }">{{button.title}}</a-button>
        <a-button v-else @click="$refs.drawerForm.clearValidate();drawerState.open=false;">{{button.title}}</a-button>
      </span>
    </a-space>
  </template>
</a-drawer>
<a-space wrap :size="20" style="margin: 10px;">
  <div v-for="button of pageState.buttons">
    <div v-if="0"></div>
    <a-popconfirm :title="button.popconfirm.title" :ok-text="button.popconfirm.okText"
      :cancel-text="button.popconfirm.cancelText" @confirm="pageState.handleButton(button)"
      v-else-if="button.popconfirm">
      <a-button type="primary" :danger="button.type==='delete'" :loading="pageState.loading">
        <template #icon>
          <span v-if="0"></span>
          <i v-else-if="button.type==='delete'" class="bx bx-trash"
            style="font-size: 16px; vertical-align: -2px; margin-right: 4px;"></i>
          <i v-else-if="button.type==='add'" class="bx bx-plus-circle"
            style="font-size: 16px; vertical-align: -2px; margin-right: 4px;"></i>
        </template>
        {{button.title}}
      </a-button>
    </a-popconfirm>
    <a-button type="primary" :danger="button.type==='delete'" :loading="pageState.loading"
      @click="pageState.handleButton(button)" v-else>
      <template #icon>
        <span v-if="0"></span>
        <i v-else-if="button.type==='delete'" class="bx bx-trash"
          style="font-size: 16px; vertical-align: -2px; margin-right: 4px;"></i>
        <i v-else-if="button.type==='add'" class="bx bx-plus-circle"
          style="font-size: 16px; vertical-align: -2px; margin-right: 4px;"></i>
      </template>
      {{button.title}}
    </a-button>
  </div>
</a-space>
<a-table :dataSource="tableState.dataSource" :columns="tableState.columns" :pagination="tableState.pagination"
  :loading="pageState.loading" @change="tableState.change" :scroll="{ x: 500 }" :rowSelection="tableState.rowSelection"
  :rowKey="tableState.rowKey">
  <template #customFilterDropdown="{ setSelectedKeys, selectedKeys, confirm, clearFilters, column }">
    <a-space direction="vertical" :size="12" style="padding: 8px;">
      <div v-if="0"></div>
      <a-date-picker ref="searchInput" v-else-if="column.type==='date'" v-model:value="column.search_dayjs[0]"
        :format="column.format" @change="e => setSelectedKeys(e?[e.format(column.format)]:[])" style=" width: 188px;" />
      <a-input v-else ref="searchInput" :placeholder="`Search ${column.dataIndex}`" :value="selectedKeys[0]"
        style="width: 188px;" @change="e => setSelectedKeys(e.target.value ? [e.target.value] : [])"
        @pressEnter="tableState.handleSearch(confirm)" />
      <a-space direction="horizontal">
        <a-button type="primary" size="small" style="width:90px;" @click="tableState.handleSearch(confirm)">
          <template #icon>
            <i class="bx bx-search" style="vertical-align: -2px; margin-right: 4px;"></i>
          </template>
          Search
        </a-button>
        <a-button size="small" style="width:90px;" @click="tableState.handleReset(clearFilters)">
          Reset
        </a-button>
      </a-space>
    </a-space>
  </template>
  <template #bodyCell="{ column, record }">
    <template v-if="column.actions">
      <a-space direction="horizontal">
        <span v-for="action of column.actions">
          <span v-if="0"></span>
          <a-popconfirm :title="action.popconfirm.title" :ok-text="action.popconfirm.okText"
            :cancel-text="action.popconfirm.cancelText" @confirm="tableState.action(action,record)"
            v-else-if="action.popconfirm">
            <a>{{action.title}}</a>
          </a-popconfirm>
          <a v-else v-on:click="tableState.action(action,record)">{{action.title}}</a>
        </span>
      </a-space>
    </template>
  </template>
</a-table>