<context-holder />
<a-drawer :title="drawerState.title" :open="drawerState.open" :body-style="{ paddingBottom: '80px' }"
  :footer-style="{ textAlign: 'right' }" @close="$refs.myForm.clearValidate();drawerState.open=false;"
  :maskClosable="drawerState.maskClosable">
  <a-form ref="myForm" :rules="drawerState.rules" :model="drawerState.model" name="basic" layout="vertical"
    @finish="drawerState.finish" @finishFailed="drawerState.finishFailed" autocomplete="off">
    <button type="submit" style="display: none;"></button>

    <a-form-item v-for="formItem of drawerState.formItems" :label="formItem.title" :name="formItem.dataIndex">
      <div v-if="0"></div>
      <a-input v-else-if="formItem.form=='input'" :disabled="formItem.disabled" :readonly="formItem.readonly"
        v-model:value="formItem.value" :placeholder="formItem.placeholder" :addon-before="formItem.addonBefore"
        :addon-after="formItem.addonAfter" style="width: 100%" />
      <a-select v-else-if="formItem.form=='select'" :disabled="formItem.disabled" v-model:value="formItem.value"
        :placeholder="formItem.placeholder">
        <a-select-option v-for="option of formItem.options" :value="option.value">{{option.title}}</a-select-option>
      </a-select>
      <div v-else-if="formItem.form=='date-picker'">
        <a-input v-if="formItem.readonly" :readonly="formItem.readonly" :value="formItem.value"></a-input>
        <a-date-picker v-else :disabled="formItem.disabled" v-model:value="formItem.value_date" style="width: 100%"
          :get-popup-container="trigger => trigger.parentElement" />
      </div>
      <a-textarea v-else-if="formItem.form=='textarea'" :disabled="formItem.disabled" :readonly="formItem.readonly"
        v-model:value="formItem.value" :rows="4" :placeholder="formItem.placeholder" />
    </a-form-item>

  </a-form>
  <template v-if="drawerState.action=='edit'" #extra>
    <a-space>
      <a-button @click="$refs.myForm.clearValidate();drawerState.open=false;">Cancel</a-button>
      <a-button type="primary" :loading="loading"
        @click="async()=>{ try { await $refs.myForm.validate(); drawerState.finish(); } catch (e) { drawerState.finishFailed(e); } }">Submit</a-button>
    </a-space>
  </template>
</a-drawer>
<a-space wrap :size="20" style="margin: 10px;">
  <div v-for="button of tableState.buttons">
    <div v-if="0"></div>
    <a-button @click="drawerState.open=true;" type="primary" v-else-if="button.type==='add'">
      <template #icon>
        <i class="bx bx-plus-circle" style="font-size: 16px; vertical-align: -2px; margin-right: 4px;"></i>
      </template>
      Insert
    </a-button>
    <a-popconfirm title="Are you sure delete?" ok-text="Yes" cancel-text="No" @confirm="handleDelete"
      v-else-if="button.type==='delete'">
      <a-button danger :loading="loading">
        <template #icon>
          <i class="bx bx-trash" style="font-size: 16px; vertical-align: -2px; margin-right: 4px;"></i>
        </template>
        Delete
      </a-button>
    </a-popconfirm>
  </div>
</a-space>
<a-table :dataSource="tableState.dataSource" :columns="tableState.columns" :pagination="tableState.pagination"
  :loading="loading" @change="tableState.change" :scroll="{ x: 500 }" :rowSelection="tableState.rowSelection"
  :rowKey="tableState.info ? tableState.info.rowKey : 'name'">
  <template #customFilterDropdown="{ setSelectedKeys, selectedKeys, confirm, clearFilters, column }">
    <a-space direction="vertical" :size="12" style="padding: 8px;">
      <div v-if="0"></div>
      <a-date-picker ref="searchInput" v-else-if="column.type==='date'" v-model:value="column.search_dayjs[0]"
        format="YYYY-MM-DD" @change="e => setSelectedKeys(e?[e.format('YYYY-MM-DD')]:[])" style=" width: 188px;" />
      <a-input v-else ref="searchInput" :placeholder="`Search ${column.dataIndex}`" :value="selectedKeys[0]"
        style="width: 188px;" @change="e => setSelectedKeys(e.target.value ? [e.target.value] : [])"
        @pressEnter="handleSearch(confirm)" />
      <a-space direction="horizontal">
        <a-button type="primary" size="small" style="width:90px;" @click="handleSearch(confirm)">
          <template #icon>
            <i class="bx bx-search" style="vertical-align: -2px; margin-right: 4px;"></i>
          </template>
          Search
        </a-button>
        <a-button size="small" style="width:90px;" @click="handleReset(clearFilters)">
          Reset
        </a-button>
      </a-space>
    </a-space>
  </template>
  <template #bodyCell="{ column, record }">
    <template v-if="column.actions">
      <a-space direction="horizontal">
        <a v-on:click="tableState.action(action.action,record)" v-for="action of column.actions">{{action.title}}</a>
      </a-space>
    </template>
  </template>
</a-table>