<context-holder />
<a-drawer title="Create" :open="drawerState.open" :body-style="{ paddingBottom: '80px' }"
  :footer-style="{ textAlign: 'right' }" @close="$refs.myForm.clearValidate();drawerState.open=false;"
  :maskClosable="false">
  <a-form ref="myForm" :rules="drawerState.rules" :model="drawerState.model" name="basic" layout="vertical"
    @finish="drawerState.finish" @finishFailed="drawerState.finishFailed" autocomplete="off">
    <button type="submit" style="display: none;"></button>

    <a-form-item label="Name" name="name">
      <a-input v-model:value="drawerState.model.name" placeholder="Please enter user name" />
    </a-form-item>

    <a-form-item label="Url" name="url">
      <a-input v-model:value="drawerState.model.url" style="width: 100%" addon-before="http://" addon-after=".com"
        placeholder="please enter url" />
    </a-form-item>

    <a-form-item label="Type" name="type">
      <a-select v-model:value="drawerState.model.type" placeholder="Please choose the type">
        <a-select-option value="private">Private</a-select-option>
        <a-select-option value="public">Public</a-select-option>
      </a-select>
    </a-form-item>

    <a-form-item label="DateTime" name="dateTime">
      <a-date-picker v-model:value="drawerState.model.dateTime" style="width: 100%"
        :get-popup-container="trigger => trigger.parentElement" />
    </a-form-item>

    <a-form-item label="Description" name="description">
      <a-textarea v-model:value="drawerState.model.description" :rows="4" placeholder="please enter url description" />
    </a-form-item>

  </a-form>
  <template #extra>
    <a-space>
      <a-button @click="$refs.myForm.clearValidate();drawerState.open=false;">Cancel</a-button>
      <a-button type="primary" :loading="loading"
        @click="async()=>{ try { await $refs.myForm.validate(); drawerState.finish(); } catch (e) { drawerState.finishFailed(e); } }">Submit</a-button>
    </a-space>
  </template>
</a-drawer>
<a-space wrap :size="20" style="margin: 10px;">
  <a-button @click="drawerState.open=true;" type="primary">
    <template #icon>
      <i class="bx bx-plus-circle" style="font-size: 16px; vertical-align: -2px; margin-right: 4px;"></i>
    </template>
    Insert
  </a-button>
  <a-popconfirm title="Are you sure delete?" ok-text="Yes" cancel-text="No" @confirm="handleDelete">
    <a-button danger :loading="loading">
      <template #icon>
        <i class="bx bx-trash" style="font-size: 16px; vertical-align: -2px; margin-right: 4px;"></i>
      </template>
      Delete
    </a-button>
  </a-popconfirm>
</a-space>
<a-table :dataSource="tableState.dataSource" :columns="tableState.columns" :pagination="tableState.pagination"
  :loading="loading" @change="tableState.change" :scroll="{ x: 500 }" :rowSelection="tableState.rowSelection"
  rowKey="name">
  <template #customFilterDropdown="{ setSelectedKeys, selectedKeys, confirm, clearFilters, column }">
    <div style="padding: 8px">
      <a-input ref="searchInput" :placeholder="`Search ${column.dataIndex}`" :value="selectedKeys[0]"
        style="width: 188px; margin-bottom: 8px; display: block"
        @change="e => setSelectedKeys(e.target.value ? [e.target.value] : [])"
        @pressEnter="handleSearch(selectedKeys, confirm, column.dataIndex)" />
      <a-button type="primary" size="small" style="width: 90px; margin-right: 8px"
        @click="handleSearch(selectedKeys, confirm, column.dataIndex)">
        <template #icon>
          <i class="bx bx-search" style="vertical-align: -2px; margin-right: 4px;"></i>
        </template>
        Search
      </a-button>
      <a-button size="small" style="width: 90px" @click="handleReset(clearFilters)">
        Reset
      </a-button>
    </div>
  </template>
  <template #bodyCell="{ column, record }">
    <template v-if="column.actions">
      <a v-on:click="tableState.push_query(record)" v-for="action of column.actions">{{action.title}}</a>
    </template>
  </template>
</a-table>