<a-layout style="min-height:100vh">
	<a-layout-header style="padding-inline: 0px;">

		<div style="float: left;">
			<router-link to="/">
				<img height="64" src="img/logo.svg" />
			</router-link>
		</div>

		<div style="float: right; padding-inline: 20px; color: #999;">
			<a-dropdown :trigger="['click']">
				<a class="ant-dropdown-link" @click.prevent>
					{{ localeState.current }}
					<i class='bx bx-chevron-down'></i>
				</a>
				<template #overlay>
					<a-menu>
						<a-menu-item v-for="locale in localeState.get()" key="0">
							<a @click="localeState.set(locale.name)">{{ locale.title }}</a>
						</a-menu-item>
						<!-- <a-menu-item key="1">
							<a @click="localeState.set('zh_cn')">中文</a>
						</a-menu-item> -->
					</a-menu>
				</template>
			</a-dropdown>
			<!-- <a @click="localeState.set('en_us')">English</a>
			|
			<a @click="localeState.set('zh_cn')">中文</a> -->
		</div>

		<a-menu v-model:selectedKeys="menuState.selectedKeys" mode="horizontal" :items="menuState.items" theme="dark"
			@click="menuState.handleClick"></a-menu>

	</a-layout-header>
	<a-layout-content>
		<router-view></router-view>
	</a-layout-content>
</a-layout>