<a-layout style="height: 100%">
	<a-layout-sider v-model:collapsed="menuState.collapsed" style="min-height: calc(100vh - 64px);" :collapsedWidth="40" collapsible>
		<a-menu v-model:openKeys="menuState.openKeys" v-model:selectedKeys="menuState.selectedKeys" mode="inline" theme="dark"
			:inline-collapsed="menuState.collapsed" :items="menuState.items" @click="menuState.handleClick"></a-menu>
	</a-layout-sider>
	<a-layout>
		<a-layout-content style="margin: 0 8px">
			<a-breadcrumb style="margin: 6px 0">
				<a-breadcrumb-item v-for="item of breadcrumbState.items">{{item.label}}</a-breadcrumb-item>
			</a-breadcrumb>
			<div>
				<router-view></router-view>
			</div>
		</a-layout-content>
		<a-layout-footer style="text-align: center">
			Ant Design ©2018 Created by Ant UED
		</a-layout-footer>
	</a-layout>
</a-layout>